<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link type="text/css" href="{% static 'css/bol_reg.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="Pagina">
        <div class="Cabecera">
            <img src="https://pbs.twimg.com/media/FiZbYUYWYAA9e9e?format=jpg&name=small" width="176px" height="85px">
            <p> REGISTRAR BOLETA </p>
        </div>
        <header>
            <ol>
                <lo><a href="{%url 'home'%}">Home</a></lo>
            </ol>
            <form method="post">
                <ul>

                    <form method="POST">
                        {% csrf_token %}
                        {%if boleta_cabecera %}
                        <li>
                            <label for="date">Dia:</label>
                            <input type="text" name="dia" id="" inputmode="numeric" value="{{boleta_cabecera.0.1}}">
                        </li>
                        <li>
                            <label for="date">Mes:</label>
                            <input type="text" name="mes" id="" inputmode="numeric" value="{{boleta_cabecera.0.2}}">
                        </li>
                        <li>
                            <label for="date">Año:</label>
                            <input type="text" name="anio" id="" inputmode="numeric" value="{{boleta_cabecera.0.3}}">
                        </li>
                        <li>
                            <label for="bol">Numero de Boleta:</label>
                            <input type="text" name="num" id="" value="{{boleta_cabecera.0.0}}">
                        </li>
                        <input type="submit" value="Aceptar">
                        {% else %}
                        <li>
                            <label for="date">Dia:</label>
                            <input type="text" name="dia" id="" inputmode="numeric">
                        </li>
                        <li>
                            <label for="date">Mes:</label>
                            <input type="text" name="mes" id="" inputmode="numeric">
                        </li>
                        <li>
                            <label for="date">Año:</label>
                            <input type="text" name="anio" id="" inputmode="numeric">
                        </li>
                        <li>
                            <label for="bol">Numero de Boleta:</label>
                            <input type="text" name="num" id="">
                        </li>
                        <input type="submit" value="Aceptar">
                        {% endif %}
                    </form>
                    {% for cli in cliente_tabla %}
                    <li>
                        <p>DNI: {{cli.0}}</p>
                        <p>Cliente: {{cli.1}} {{cli.2}}</p>
                        <p>Dirección: {{cli.3}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </form>
        </header>
    </div>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Encuentranos</h4>
                    <p class="lead mb-0">
                        Lima
                        <br />
                        944378940
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Tu sitio web 2022</small></div>
    </div>

</body>

</html>