<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'css/fact_his.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="Pagina">
        <div class="Cabecera">
            <img src="https://pbs.twimg.com/media/FiZbYUYWYAA9e9e?format=jpg&name=small" width="176px" height="85px">
            <p> FACTURA HISTORIAL </p>
        </div>
        <header>
            <form class="example" action="action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <table border="1">
                <thead>
                    <tr>
                        <th>Numero de Factura</th>
                        <th>Dia</th>
                        <th>Mes</th>
                        <th>Año</th>
                        <th>RUC</th>
                        <th>Razon Social</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reg in tabla %}
                    <tr>
                        <td>{{reg.0}}</td>
                        <td>{{reg.1}}</td>
                        <td>{{reg.2}}</td>
                        <td>{{reg.3}}</td>
                        <td>{{reg.4}}</td>
                        <td>{{reg.5}}</td>
                        <td>{{reg.6}}</td>
                        <td>
                            <a href="{%url 'FacturaFinal' reg.0 %}">Extendido</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </header>
    </div>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Encuentranos</h4>
                    <p class="lead mb-0">
                        Lima
                        <br />
                        944378940
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Tu sitio web 2022</small></div>
    </div>

</body>

</html>