<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link type="text/css" href="{% static 'css/cli_form.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="Pagina">
        <div class="Cabecera">
            <img src="https://pbs.twimg.com/media/FiZbYUYWYAA9e9e?format=jpg&name=small" width="176px" height="85px">
            <p> CLIENTE NATURAL </p>
        </div>
        <header>
            <ol>
                <lo><a href="{%url 'home'%}">Home</a></lo>
            </ol>
            <form method="post">
                {% csrf_token %}
                {% if tabla%}
                <ul>
                    <li>
                        <label for="dni">DNI:</label>
                        <input type="text" name="dni" id="" maxlength="8" minlength="8" value="{{tabla.0.0}}" required
                            readonly>
                    </li>
                    <li>
                        <label for="name">Nombre:</label>
                        <input type="text" name="nom" id="" maxlength="20" value="{{tabla.0.1}}" required>
                    </li>
                    <li>
                        <label for="lastname">Apellido:</label>
                        <input type="text" name="ape" id="" maxlength="20" value="{{tabla.0.2}}" required>
                    </li>
                    <li>
                        <label for="address">Dirección:</label>
                        <input type="text" name="dir" id="" maxlength="30" value="{{tabla.0.3}}" required>
                    </li>
                    <li>
                        <br>
                        <input type="submit" value="ENVIAR">
                        <a href="{% url 'Cliente_Natural' %}">CANCELAR</a>
                    </li>
                </ul>
                {% else %}
                <ul>
                    <li>
                        <label for="dni">DNI:</label>
                        <input type="text" name="dni" id="" maxlength="8" required>
                    </li>
                    <li>
                        <label for="name">Nombre:</label>
                        <input type="text" name="nom" id="" maxlength="20" required>
                    </li>
                    <li>
                        <label for="lastname">Apellido:</label>
                        <input type="text" name="ape" id="" maxlength="20" required>
                    </li>
                    <li>
                        <label for="address">Dirección:</label>
                        <input type="text" name="dir" id="" maxlength="30" required>
                    </li>
                    <li>
                        <br>
                        <input type="submit" value="ENVIAR">
                        <a href="{% url 'Cliente_Natural' %}">CANCELAR</a>
                    </li>
                </ul>
                {% endif %}
            </form>
        </header>
    </div>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Encuentranos</h4>
                    <p class="lead mb-0">
                        Lima
                        <br />
                        944378940
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Tu sitio web 2022</small></div>
    </div>

</body>

</html>