<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'css/home.css'%}" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="Pagina">
            <div class="Cabecera">
                <img src="https://pbs.twimg.com/media/FiZbYUYWYAA9e9e?format=jpg&name=small" width="176px"
                    height="85px">
            </div>
            <header>
                <div class="contenedor" id="uno">
                    <img class="icon" src="https://cdn-icons-png.flaticon.com/512/2271/2271068.png">
                    <p class="texto"><a href="{% url 'Almacen'%}">Almacén</a></p>
                </div>
                <div class="contenedor" id="dos">
                    <img class="icon" src="https://cdn-icons-png.flaticon.com/512/3126/3126647.png">
                    <p class="texto"><a href="{% url 'SelectCliente'%}">Clientes</a></p>
                </div>
                <div class="contenedor" id="tres">
                    <img class="icon" src="https://cdn-icons-png.flaticon.com/512/2660/2660227.png">
                    <p class="texto"><a href="{% url 'SelectBolFact'%}">Registrar Ventas</a></p>
                </div>
                <div class="contenedor" id="cuatro">
                    <img class="icon" src="https://cdn-icons-png.flaticon.com/512/32/32223.png">
                    <p class="texto"><a href="{% url 'SelectBolFactHist'%}">Historial</a></p>
                </div>
            </header>
        </div>
        <footer class="footer text-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Encuentranos</h4>
                        <p class="lead mb-0">
                            Lima
                            <br />
                            944378940
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; Tu sitio web 2022</small></div>
        </div>
    </main>
</body>

</html>